<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vacation-GPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'css/style.css')}}"
    />
</head>

<body>
    <div class="containers">
    <section class="section-1">
    <form action="/result" method="POST">
        <h3> Vacation-GPT<span class="spin-icon">&#127759</span></h3>
        <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="days"
          name="days"
          placeholder="How many days?"
        />
        </div>

        <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="destination"
          name="destination"
          placeholder="Where do you want to go?"
        />
        </div>
        <br />
        <button type="submit" class="submit-btn" id="btn" onclick="loading()">Create Itinerary</button>
        <div id="loading"></div>
  </form>
  </section>
  
  
  <section class="section-2" id="result">
      
      {%if result%}
        <p> {{result|safe}}</p> 
      {%endif%}

  </section>
  </div>

  <div class="footer">
    <p class="footer-content">
        <a href="/">Image 1</a>
        <a href="/">Image 2</a>
        <a href="/">Image 3</a>
    </p>
  </div>

  <script>
    var source = new EventSource("/result");
    source.onmessage = function(event){
      document.getElementById("result").innerHTML += event.data;
    };

  </script>

</body>
</html>
